<h2 class="text-center">{{ title }}</h2>

<form [formGroup]="form">

    <input type="hidden" formControlName="id" />

    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input class="form-control" formControlName="firstName" placeholder="First Name" id="firstName" />
    </div>

    <div class="form-group">
        <label for="lastName">First Name:</label>
        <input class="form-control" formControlName="lastName" placeholder="Last Name" id="lastName" />
    </div>

    <div class="form-group">
        <label for="username">First Name:</label>
        <input class="form-control" formControlName="username" placeholder="Username" id="username" />
    </div>

    <button class="btn btn-success" (click)="saveUser()">Save</button>

</form>